.card-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.card {
  background-color: hsl(0, 0%, 12%);
  width: 400px;
  padding: 24px;
  border-radius: 12px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-name {
  color: hsl(0, 0%, 100%);
  margin-top: 16px;
}

.card-location {
  color: hsl(75, 94%, 57%);
  margin-top: 8px;
  font-weight: bold;
}

.card-information {
  color: hsl(0, 0%, 100%);
  padding-top: 4px;
  padding-bottom: 8px;
}

/* Mobile Styles */
@media (max-width: 480px) {
  .card {
    width: 75%;
    margin: 10px auto;
    padding: 24px;
  }

  .card-profile img {
    width: 80px;
    height: 80px;
  }

  .card-name h1 {
    font-size: 1.5rem;
  }

  .card-location p,
  .card-information p {
    font-size: 0.9rem;
  }
}
